<!DOCTYPE html>
<html>
<head>
    <title>Dojo Ninjas App</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="forms">
            <div class="add_dojo">
                <h3>Add a Dojo</h3>
                <form method="POST" action="/process">
                    {% csrf_token %}
                    <input type="hidden" name="in_form" value="dojos">
                    <table>
                        <tr>
                            <td>Name</td>
                            <td><input type="text" name="dojoName"></td></tr>
                        <tr>
                            <td>City</td>        
                            <td><input type="text" name="dojoCity"></td></tr>
                        <tr>
                            <td>State</td>     
                            <td><input type="text" name="dojoState"></td></tr>
                    </table>
                    <button type="submit">Add</button>
                </form>
            </div>
            <div class="add_ninja">
                <h3>Add a Ninja</h3>
                <form method="POST" action="/process">
                    {% csrf_token %}
                    <input type="hidden" name="in_form" value="ninjas">
                    <table>
                        <tr>
                            <td>First Name</td>
                            <td><input type="text" name="fName"></td></tr>
                            <td>Last Name</td>
                            <td><input type="text" name="lName"></td></tr>
                            <td>Dojo</td>        
                            <td><select name="dName" id="">
                                            {% for dojo in dojos %}
                                                <option>{{ dojo.name }}</option>
                                            {% endfor %}
                                        </select></td></tr>
                        </table>
                    <button type="submit">Add</button>
                </form>
            </div>
        </div>
        <div class="line"></div>
        <div class="dojo_list">
            <h3>All the Dojos</h3>
            <ul>
                {% for dojo in dojos %}
                    <li class="dojo_names">{{dojo.name}}
                        <ul>
                            {% for ninja in dojo.dojo_id.all %}
                                <li><em>{{ninja.first_name}} {{ninja.last_name}}</em></li>
                                {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>