.container{
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
    #result{
        margin: 0px;
        width: 100px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }