.form{
    width: 100%;
    padding: 25px;
}
.li{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
}
.true{
    text-decoration: line-through;
}
.zero{
    width: 75%;
    padding: 25px;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    background-color: gray;
    color: white;
    font-weight: bold;
}
.nonZero{
    width: 75%;
    padding: 25px;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(78, 78, 78);
    color: white;
    font-weight: bold;
}