.app{
    width: 95%;

    justify-content: center;
}
.hd{
    width: 100%;
    background-color: green;
    margin-bottom: 10px;
}
.na{
    width: 15%;
    height: 200px;
    padding: 10px;
    display: inline-flex;
    background-color: blue;
}
.main{
    width: 65%;
    height: 200px;
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    background-color: gray;
}
.sc{
    display: inline-block;
    height: 70%;
    background-color: yellow;    
}
.ad{
    position: absolute;
    width: inherit;
    height: 50px;
    bottom: 50px;
    background-color: purple;
}