.tabs{
    width: 30%;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.tabs button{
    padding: 5px 15px 5px 15px;
    margin: 2px;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.tBtn{
    width: 50px;
}
.sPara{
    margin: 10px;
    padding: 25px;
    display: flex;
    justify-content: center;
    background-color: blue;
    color: aliceblue;
    width: 100%;
}