<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="cc1">
            <p>{{ author.first_name }} {{ author.last_name }}</p>
            <p>ID: {{ author.id }}</p>
            <p>Notes: {{ author.notes }}</p>
        </div>
        <div class="cc2">
            <h4>Books:</h4>
            <ul>
                {% for book in books %}
                    <li>{{ book.title }}</li>
                {% endfor %}
            </ul>
            <form method="POST" action="/addBook">
                {% csrf_token %}
                <select name="books">
                        <option value="null">-select an author-</option>
                    {% for book in addBooks %}
                        <option value='{{ book.id }}'>{{ book.title }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Add</button>
            </form>
        </div>
        </div>
</body>
</html>